apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: frontend
          image: ghcr.io/maksm4/foodsense/frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80