apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
        - name: auth-api
          image: maksm4/authapi:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: auth-conn
            - name: JwtSettings__SecretKey
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: jwt-key