name: Monorepo development CI for each microservice
on: 
  push:
    branches: [ "main" ]
    
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      inventory: ${{ steps.filter.outputs.inventory }}
      auth: ${{ steps.filter.outputs.auth }}
      gateway: ${{ steps.filter.outputs.gateway }}
      recipe: ${{ steps.filter.outputs.recipe }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: | 
            inventory:
              - 'Services/Inventory.API/**'
            auth:
              - 'Services/Auth.API/**'
            gateway:
              - 'Gateway/ApiGateway/**'
            recipe:
              - 'Services/Recipe.API/**'
       
  inventory-build:
    needs: changes
    if: ${{ needs.changes.outputs.inventory == 'true' }}
    uses: ./.github/workflows/dotnet-build-service.yml
    with:
      service: inventory
      project_path: Services/Inventory.API/Inventory.API.csproj

  auth-build:
    needs: changes
    if: ${{ needs.changes.outputs.auth == 'true' }}
    uses: ./.github/workflows/dotnet-build-service.yml
    with:
      service: auth
      project_path: Services/Auth.API/Auth.API.csproj

  gateway-build:
    needs: changes
    if: ${{ needs.changes.outputs.gateway == 'true' }}
    uses: ./.github/workflows/dotnet-build-service.yml
    with:
      service: gateway
      project_path: Gateway/ApiGateway/ApiGateway.csproj

  recipe-build:
    needs: changes
    if: ${{ needs.changes.outputs.recipe == 'true' }}
    uses: ./.github/workflows/dotnet-build-service.yml
    with:
      service: recipe
      project_path: Services/Recipe.API/Recipe.API.csproj