name: Deployment manual

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: self-hosted
    environment: Production
    steps:
      - uses: actions/checkout@v3

      - name: Update GHCR pull secret
        run: |
          kubectl create secret docker-registry ghcr-secret \
            --docker-server=ghcr.io \
            --docker-username=${{ github.actor }} \
            --docker-password=${{ secrets.GHCR_PAT }} \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Update app-secrets
        run: |
          kubectl create secret generic app-secrets \
            --from-literal=AUTH_CONNECTION="${{ secrets.AUTH_CONNECTION }}" \
            --from-literal=INVENTORY_CONNECTION="${{ secrets.INVENTORY_CONNECTION }}" \
            --from-literal=RECIPE_CONNECTION="${{ secrets.RECIPE_CONNECTION }}" \
            --from-literal=JWT_KEY="${{ secrets.JWT_KEY }}" \
            --from-literal=SA_PASSWORD="${{ secrets.SA_PASSWORD }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Update azure-secrets
        run: |
          kubectl create secret generic azure-secrets \
            --from-literal=TRANSLATOR_KEY="${{ secrets.TRANSLATOR_KEY }}" \
            --from-literal=TRANSLATOR_REGION="${{ vars.TRANSLATOR_REGION }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Update edamam-secrets
        run: |
          kubectl create secret generic edamam-secrets \
            --from-literal=EDAMAM_APPID="${{ secrets.EDAMAM_APPID }}" \
            --from-literal=EDAMAM_APPKEY="${{ secrets.EDAMAM_APPKEY }}" \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Apply Kustomize
        run: kubectl apply -k K8S/Overlays/Prod

      - name: Restart all deployments
        run: |
            kubectl rollout restart deployment inventory-api-depl auth-api-depl gateway-depl recipe-api-depl frontend-depl